<app-notification></app-notification> <nav>
  <ng-container *ngIf="!(authService.isAuthenticated$ | async)">
    <a routerLink="/login" routerLinkActive="active">Login</a> |
    <a routerLink="/register" routerLinkActive="active">Registrazione</a>
  </ng-container>

  <ng-container *ngIf="authService.isAuthenticated$ | async">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a> |
    <a (click)="logout()">Logout</a>
  </ng-container>
</nav>
<hr>
<router-outlet></router-outlet>
